/* All */

* {
    transition: all .3s ease-in;
}

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    transition: all .3s ease-in;
}

i {
    font-style: normal;
}

/* Components */

/* Elements */

.section-padding {padding: 30px 0;}

.bg-custom {background-color: #F0F2F5  !important;}

.custom-card {background-color: #ffffff;margin-bottom: 20px !important;}

.custom-border {border-radius: 8px;}

.custom-shadow {box-shadow: 0 1px 2px rgb(0 0 0 / 20%);}

.custom-padding {padding: 10px;}

/* Page Style */
/* Top-Bar */

.site-logo-main img {
    width: 300px;
}

.profile-top-bar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-user-options-ul {
    display: flex;
    align-items: center;
}

.profile-top-bar-wallete-inner {
    display: flex;
    align-items: center;
}

.profile-top-bar {
    padding: 20px 0;
}

.profile-wallete-coin-image img {
    width: 50px;
}

.profile-wallete-text {
    margin-left: 20px;
}

.profile-wallete-top-text {
    font-size: 18px;
    font-weight: 500;
}

.profile-wallete-balance {
    font-size: 11px;
}

.profile-user-options-li {
    margin-left: 10px;
    cursor: pointer;
}

.profile-user-options-li.user-pic img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    height: 50px;
    object-fit: cover;
}

.single-post-top-bar-photo-inner img {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
    height: 80px;
    object-fit: cover;
}

/* Site Navigation */

.profile-site-navigation {
    background: #000;
    padding: 10px 0;
}

.profile-site-navigation-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-site-navigation-li.line-deivder {
    width: 1px;
    height: 20px;
    background: #fff;
    display: block;
}

.profile-site-navigation-link {
    color: #fff;
    padding: 3px;
    /* border-bottom: 1px solid; */
    border-color: #000;
}

.profile-site-navigation-link:hover {
    text-decoration: none;
    border-color: #323232;
    color: #fff;
}

/* Profile Information */

.profile-box-cover-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-bottom: 1px solid #fff;
}

.profile-box-cover-image {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.profile-box-cover-image::after {
    content: "";
    position: absolute;
    height: 390px;
    left: -10%;
    right: -10%;
    border-radius: 50%;
    bottom: -295px;
    background: #fff;
}

.profile-box-cover-image .edit-button {
    position: absolute;
    color: #fff;
    top: 40px;
    right: 100px;
}

.profile-box-cover-inner .edit-button-inner {
    display: flex;
}

.profile-box-cover-image .icon {
    margin-right: 10px;
}

.profile-box-user-info {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -200px;
    /* z-index: 111111; */
}

.profile-box-photo-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    object-fit: cover;
}

.profile-box-cover-inner {
    position: relative;
    margin-top: -1px;
}

.profile-box-photo-image {
    position: relative;
}

.edit-button-inner .icon {
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #fff;
    color: #000;
    font-size: 16px;
}

.profile-box-photo-image .edit-button {
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.profile-box-info-name {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

.profile-box-info-name {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.profile-box-info-name-text {
    margin-right: 10px;
}


/* Profile Navigation */

.profile-navigation-inner {
    padding: 10px 0;
    /* border-bottom: 1px solid #DEDEDE; */
    margin-top: 30px;
}

.profile-navigation-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-navigation-li {
    padding: 10px 15px;
    border-radius: 3px;
}

.profile-navigation-li:hover {
    background-color: #efefef;
}


.profile-navigation-li.line-devider {
    width: 1px;
    height: 20px;
    background: #dedede;
    padding: 0;
    display: none;
}

.profile-navigation-link {
    padding: 5px;
    color: #A6A6A6;
}

.profile-box {
    position: relative;
}

.profile-navigation {
    border-bottom: 1px solid #dedede;
    /* position: static; */
    top: 0;
    background: #fff;
    z-index: 999999999999999999;
}

.to-show-sticky {
    display: none;
}

.profile-navigation{
    position: sticky;
}

.profile-navigation-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-navigation-logo-image img {
    width: 155px;
}

.inner-navigation-sub-menu-ul {
    display: flex;
    align-items: center;
}


.inner-navigation-sub-menu-li img {
    width: 30px;
    border-radius: 50%;
}

.inner-navigation-sub-menu-li .nav-icon {
    font-size: 25px;
}

.inner-navigation-sub-menu-li {
    margin-right: 10px;
    cursor: pointer;
}


.inner-navigation-sub-menu-li-profile {
    position: relative;
}

.inner-navigation-sub-menu-li .nav-icon {
    font-size: 18px;
}

.profile-navigation-nav.aligned {
    display: flex;
    justify-content: center;
}

.inner-navigation-sub-menu-li.hover .nav-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.inner-navigation-sub-menu-li.hover .nav-icon:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
}

.inner-navigation-sub-menu-li-profile .user-dropdown-inner {
    top: 35px;
}

.inner-navigation-sub-menu-li.position {
    position: relative;
}

.inner-mega-menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    border-radius: 4px;
}

.inner-mega-navigation-link img {
    border-radius: 0;
    width: 25px;
    margin-right: 10px;
}

.inner-mega-navigation-link {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.inner-mega-navigation-link:hover {
    color: #000;
    text-decoration: none;
}

.inner-mega-navigation-li {
    padding: 10px;
}

.inner-mega-menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    border-radius: 4px;
    right: -5px;
}

.inner-mega-menu {
    position: absolute;
    background: #fff;
    padding: 0px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    border-radius: 4px;
    right: 5px;
    display: none;
    top: 35px;
}

.profile-user-options-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 10px; */
    font-size: 20px;
    cursor: pointer;
}

.profile-user-options-icon:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
}

.inner-mega-navigation-li.black-bg {
    background: #efefef;
}

.inner-mega-navigation-li:hover {
    background: #efefef;
}


/* .profile-navigation[sticky] > #to-show{
    display: block;
} */

/* Content Card */

.profile-content {
    padding: 30px 0;
    background: #F0F2F5;
}

/* Effects */

.profile-navigation-link:hover {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.content-sides {
    display: flex;
}

.content-side-01 {
    width: 30%;
    padding-right: 20px;
}

.content-card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    border-radius: 8px;
    margin-bottom: 20px;
    background: #fff;
    /* overflow: hidden; */
}

.content-top-bar-inner {
    display: flex;
    justify-content: space-between;
}

.content-top-bar-title .text {
    margin-right: 10px;
}

.social-dropdown-main {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content-top-bar-title {
    display: flex;
    align-items: center;
}

.social-dropdown-main .icon, .social-dropdown-main .text {
    margin-right: 5px;
}

.content-top-bar {
    /* margin-bottom: 10px; */
    padding: 10px;
    border-bottom: 1px solid #dedede;
}

.info-editor-box {
    display: flex;
    justify-content: space-between;
}

.info-editor-box-title {
    display: flex;
    align-items: center;
}

.info-editor-box-title-text {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}

.info-editor-box-value {
    display: flex;
    align-items: center;
}

.set-privacy-dropdown-inner {
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    padding: 10px 5px;
    display: none;
    top: 0;
    z-index: 99999;
    right: -1px;
    padding-top: 2px;
    width: 150px;
    border-radius: 3px;
    font-size: 12px;
}

.set-privacy-dropdown {
    position: relative;
    cursor: pointer;
}

.set-privacy-dropdown-li {
    padding: 10px;
    border-bottom: 1px solid #dedede;
    /* text-align: center; */
    cursor: pointer;
}

.set-privacy-dropdown-li:last-child {
    padding: 5px;
    border-bottom: 0;
}

.info-editor-box-value-text {
    margin-right: 5px;
    font-size: 12px;
}

.social-info-editor-box-li {
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}

.social-info-editor-box-li:last-child {
    padding: 10px 0;
    border-bottom: 0;
}

.content-card-content-inner p {
    font-size: 12px;
}

.photo-galary-grid-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-grid-col {
    flex: 0 0 33%;
    padding: 10px;
}

.photo-grid-col-inner img {
    width: 100%;
}

.see-all {
    border-top: 1px solid #dedede;
    padding-top: 10px;
    text-align: center;
}

.see-all-inner a {
    font-size: 12px;
    font-style: italic;
    color: #A6A6A6;
}

.see-all-inner a:hover {
    color: #A6A6A6;
    text-decoration: none;
}

.friend-grid-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.friend-grid-col {
    flex: 0 0 25%;
    padding: 10px;
}

.firend-grid-col-image img {
    width: 50px;
    margin-right: 10px;
}

.friend-grid-col-inner {
    display: flex;
    align-items: center;
}

.friend-grid-col-text {
    font-size: 12px;
    font-weight: 600;
}

.friend-grid-col {
    flex: 0 0 50%;
    padding: 10px;
}

.content-side-02 {
    width: 70%;
}

/* Side 02 */

/* Share Post */

.share-post-box-inner {
    display: flex;
    padding: 10px;
}

.share-post-user-image {
    flex: 0 0 80px;
    overflow: hidden;
    margin-right: 10px;
}

.share-post-user-image-inner img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.share-post-box-main {
    flex-grow: 1;
}

.share-post-input-box {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.share-post-input-box-inner textarea {
    width: 100%;
    border-color: #dedede;
    border-radius: 4px;
    padding: 10px;
    background: #fbfbfb;
}

.share-post-box-main-bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-post-attachments {
    display: flex;
    font-size: 20px;
}

.share-post-attachments-li {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.set-privacy-share {
    display: flex;
    align-items: center;
}

.set-privacy-share-inner {
    margin-right: 10px;
}

.share-post-button button {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-radius: 4px;
}

/* Singal Post */

.singal-post-top-bar-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singal-post-top-bar {
    display: flex;
    justify-content: space-between;
}

.single-post-top-bar-photo-inner img {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.singal-post-top-bar-post-detail-inner .user-name {
    font-weight: 500;
}

.date-and-privacy {
    display: flex;
    align-items: center;
}

.date-and-privacy .time-stamp {
    display: flex;
    margin-right: 10px;
    color: #a4a5ad;
    font-size: 12px;
}

.date-and-privacy .time-stamp .at {
    margin: 0 10px;
}

.singal-post-top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    padding: 10px;
}

.singal-post-content p {
    margin: 0;
    word-break: break-all;
    padding: 10px;
}

.like-comment-bar {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}

.like-comment-bar-ul {
    display: flex;
    align-items: center;
}

.like-comment-bar-li {
    margin-right: 20px;
}

.like-comment-bar-li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.like-comment-bar-li .icon {
    margin-right: 10px;
}

.add-comment-input-bar {
    padding: 10px;
}

.all-comments-box {
    padding: 10px;
}

.view-more-comments {
    padding: 10px;
    text-align: center;
}

.add-comment-input-bar-inner {
    display: flex;
}

.add-comment-input-bar-user-image {
    margin-right: 10px;
}

.add-comment-input-bar-user-image {
    margin-right: 10px;
    width: 60px;
    overflow: hidden;
}

.add-comment-input-bar-textarea {
    flex-grow: 1;
}

.add-comment-input-bar-textarea-main textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #dedede;
    background: #fbfbfb;
    padding: 10px;
}

.add-button {
    text-align: right;
}

.add-button button {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

.add-comment-input-bar-image-inner img {
    width: 100%;
    border-radius: 50%;
}

.singal-comment-row {
    /* border-bottom: 1px solid #dedede; */
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.singal-comment-row-inner {
    display: flex;
    align-items: center;
}

.singal-comment-row-user-image-inner img {
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
}

.singal-comment-row-user-image-inner img {
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.view-more-comments-inner a {
    color: #A6A6A6;
    cursor: pointer;
}

.view-more-comments {
    margin-top: 10px;
    text-align: center;
}

.singal-post-top-bar-options {
    position: relative;
}

.singal-post-top-bar-options-bar {
    position: absolute;
    top: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    right: 0px;
}

.singal-post-top-bar-options-link {
    color: #000;
}

.eidtor-input-main {
    display: flex;
    align-items: center;
}

.eidtor-input-main input {
    border: 0;
    /* border-bottom: 1px solid #dedede; */
    text-align: center;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2em;
    font-weight: 500;
}

.friends-grid {
    background: #F0F2F5;
}

.eidtor-input-main .icon {
    padding: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}


.profile-box-info-name-main {
    display: flex;
    align-items: center;
}

.eidtor-input-inner {
    display: flex;
    justify-content: center;
}

.eidtor-input {
    display: none;
    margin-top: 20px;
}

.profile-site-navigation-li.active {
    background-color: #323232;
}

.profile-site-navigation-li.active .profile-site-navigation-link {
    border-color: #323232;
}

.profile-site-navigation-li {
    padding: 5px;
    border-radius: 4px;
}

.profile-site-navigation-link .icon img {
    width: 20px;
    padding-bottom: 5px;
}

.profile-site-navigation-li {
    padding: 10px;
    border-radius: 4px;
}

.profile-site-navigation-li:hover {
    background-color: #323232;
}

.abouy-text-editor-textarea textarea {
    width: 100%;
    border: 1px solid #dedede;
    font-size: 12px;
    height: 200px;
    border-radius: 3px;
}

.abouy-text-editor-button button {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-radius: 4px;
}

.profile-site-navigation-inner {
    width: 65%;
    margin: auto;
}

.profile-site-navigation-link .icon {
    /* margin-right: 5px; */
}

.social-dropdown {
    position: relative;
}

.user-dropdown-inner {
    position: absolute;
    top: 55px;
    right: 50%;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    padding: 10px;
    border-radius: 3px;
    display: none;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    z-index: 9999;
    transform: translate(50%);
}

.user-dropdown-li {
    padding-bottom: 5px;
    border-bottom: 1px solid #dedede;
    text-align: left;
    padding-top: 5px;
}

.user-dropdown-li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}


.user-dropdown-li a {
    color: #000;
}

.user-dropdown-li a:hover {
    color: #000;
    text-decoration: none;
}

.user-dropdown-inner::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) rotate(313deg);
    border-radius: 2px;
}

.profile-user-options-inner {
    position: relative;
}

/* Edit Post */

.edit-post-box-main textarea {
    border: 1px solid #dedede;
    height: 200px;
    width: 100%;
    background: #fbfbfb;
    padding: 5px;
}

.delete-photo-div {
    position: absolute;
    top: -5px;
    right: -5px;
}

.post-edit-photo-main img {
    width: 100%;
}

.singal-post-content img {
    width: 100%;
}

.post-edit-photo-main {
    position: relative;
}

.delete-photo-div-main {
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
}

.edit-post-bar {
    margin-top: 30px;
}


/* Friends */

.inner-navigation-inner {
    padding: 15px 0;
    /* border-bottom: 1px solid #dedede; */
}

.inner-navigation-ul {
    display: flex;
    justify-content: center;
}

.inner-navigation-li {
    padding: 0 15px;
    font-size: 15px;
}

.inner-navigation-link {
    color: #5c5c5c;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-color: #fff;
}

.inner-navigation-link:hover {
    color: #000;
    text-decoration: none;
    border-color: #000;
}

.friends-grid-main {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.friend-grid-col {
    flex: 0 0 31%;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin-right: 2%;
}

.friend-grid-col-inner-div {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.friend-grid-col-profile-inner {
    display: flex;
    justify-content: flex-start;
}

.friend-grid-col-profile-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.friend-grid-col-profile-image {
    margin-right: 20px;
}

.friend-grid-col-profile-text-top {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

.friend-grid-col-profile-text-bottom {
    color: #aeaeae;
    font-weight: 500;
}

.gallary-grid {
    background: #F0F2F5;
}

.friend-grid-col-options-icon span {
    color: #aeaeae;
    font-size: 20px;
    cursor: pointer;
}

.friend-grid-col-options-icon {
    position: relative;
}

.friend-grid-col-options-dropdown {
    position: absolute;
    min-width: 150px;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    padding: 10px;
    border-radius: 4px;
    top: 20px;
    display: none;
    right: -30%;
}

.friend-grid-col-options-dropdown::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: #fff;
    top: -5px;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%); */
    transform: rotate(45deg);
    right: 10px;
    z-index: 0;
}

.friend-grid-col-options-dropdown-link {
    color: #000;
    text-decoration: none;
}

.friend-grid-col-options-dropdown-li {
    font-size: 13px;
    margin: 10px 0;
}

.friend-grid-col-options-dropdown-li:last-child {
    margin-bottom:  0;
}

.friend-grid-col-options-dropdown-li:first-child {
    margin-top:  0;
}

/* Effects */

.profile-navigation-li.active .profile-navigation-link {
    font-weight: 500;
    color: #000;
}

.friend-grid-col-options-dropdown-link:hover {
    color: #000;
    text-decoration: none;
}

.friend-grid-col-options-icon:hover span {
    color: #000 ;
}

.inner-navigation-li.active .inner-navigation-link {
    border-color: #000;
}

.share-post-attachments-li:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    border-radius: 50%;
}

.single-post-top-bar-photo-inner img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
    object-fit: cover;
}

.share-post-user-image {
    flex: 0 0 40px;
    overflow: hidden;
    margin-right: 10px;
}

.add-comment-input-bar-user-image {
    width: 30px;
}

.singal-comment-row-user-image-inner img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
}

.singal-comment-row-comment-text {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
}

/* Gallary */

.gallary-grid-main {
    display: flex;
    padding: 30px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.gallary-grid-col {
    flex: 0 0 20%;
}

.gallary-grid-col-inner {
    margin: 10px;
}

.gallary-grid-col-image img, .gallary-grid-col-video-feature-image img {
    width: 100%;
    object-fit: cover;
    /* border-radius: 6px; */
    aspect-ratio: 1/1;
}

.gallary-grid-col-video-feature-image {
    position: relative;
}

.play-video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.gallary-top-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallary-top-bar {
    padding: 20px 0;
    /* border-bottom: 1px solid #dedede; */
}

.gallary-top-title {
    font-size: 1.3em;
    font-weight: 500;
    flex-grow: 1;
}

.gallary-top-date {
    font-size: 1.2em;
    font-weight: 500;
}

.gallary-sellect-bar {
    margin-top: 10px;
}

.gallary-sellect-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.gallary-sellect-bar-inner span {
    display: block;
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
}

.gallary-grid-col-image {
    position: relative;
}

.select-gallary-item {
    cursor: pointer;
    position: absolute;
    top: 10px;
    display: none;
    left: 15px;
}

.select-gallary-item-inner input {
    width: 15px;
    height: 15px;
}

.selection-icon span {
    transform: rotate(90deg);
    display: block;
}

.selection-icon {
    margin-left: 10px;
}

.selection-icon {
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.selection-dropdown {
    position: absolute;
    background: #fff;
    padding: 10px;
    top: 21px;
    left: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    border-radius: 3px;
    transform: translate(-50%);
    z-index: 9;
    min-width: 90px;
    font-size: 12px;
    display: none;
}

/* Audios */

.audio-grid-col-audio audio::-webkit-media-controls-panel {
    background-color: #fff;
}

.audio-grid-col-audio audio::-webkit-media-controls-play-button{
    background-color: #C4C4C4;
    background-image: url('../images/icons/music.png');
    height: 30px;
    width: 30px;
    border-radius: 4px;
}

.audio-grid-main {
    padding: 30px 0;
}

.audio-grid-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.audio-grid-col {
    flex: 0 0 45%;
    margin-bottom: 20px;
}

.audio-file-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 10px 25px;
}

.audio-file-name .name {
    font-size: 16px;
    font-weight: 500;
}

.audio-file-name .date {
    font-size: 11px;
}

.audio-grid-col-audio {
    position: relative;
}

.audio-grid-col-audio .select-gallary-item {
    position: absolute;
    top: 8px;
    left: -6px;
}

.audio-grid-col-audio audio {
    width: 100%;
}

.profile-action-btns {
    margin-top: 10px;
    text-align: center;
}

.black-button {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.black-button:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
}

.content-card-inner .friend-grid-col {
    box-shadow: unset;
    margin-right: 0;
}

/* Alerts */

.alerts-inner {
    padding: 10px 0;
    background: #323232;
    color: #fff;
    font-size: 12px;
}

.singal-alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singal-alert .alert-icon {
    padding-right: 10px;
}

.singal-alert .alert-link {
    padding-left: 10px;
}

.singal-alert .alert-link a {
    color: #ffff;
}

/* Home Navigation */

.home-navigation {
    padding: 15px 0;
    position: sticky;
}

.home-navigation-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-navigation-ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 20px;
    justify-content: space-evenly;
}

a.home-navigation-link {
    color: #000;
    text-decoration: none;
}

.search-input-home-navigation-main input {
    min-width: 200px;
    padding: 6px 7px;
    border: 1px solid #dedede;
    font-size: 12px;
    width: 100%;
}

.search-input-home-navigation-main {
    position: relative;
}

.search-input-home-navigation-main .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-navigation-inner {
    padding: 10px 0;
}

.recent-search-box .title {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}

li.recent-search-li {
    padding: 10px;
}

.recent-search-li:hover {
    background-color: #dedede;
}

.recent-searches-box {
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 10px; */
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 17%);
    min-width: 200px;
    border-radius: 3px;
    overflow: hidden;
    display: none;
}

.recent-searches-box-main .search-btn {
    top: 10px;
    right: 10px;
}

.search-input-home-navigation-inner {
    position: relative;
}

.recent-search-list-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recent-search-rofile {
    display: flex;
    align-items: center;
}

.recent-search-rofile .profile-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.recent-search-rofile .profile-text a {
    color: #000;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.remove-div {
    cursor: pointer;
    font-size: 12px;
}

.recent-searches-box-main .search-input-home-navigation-main {
    padding: 10px;
}

.search-input-home-navigation-main .back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-searches-box-main input {
    padding-left: 25px;
}

.hide-text .text {
    display: none;
}

.black-button.hide-text {
    border-radius: 50%;
    margin-right: 10px;
}

/* Adds */

.add-image-inner {
    margin-bottom: 15px;
}

.add-image-main img {
    width: 100%;
}

/* Search */

.search-page-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
}

.search-page-input-main input {
    width: 100%;
    border: 1px solid #dedede;
    padding: 10px;
    font-size: 12px;
    padding-right: 25px;
}

.search-page-input-main {
    position: relative;
}

.search-page-input-outer {
    padding: 10px;
}


.search-result-box-main .title {
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

.search-result-box-single-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-result-box-profile-info {
    display: flex;
    align-items: center;
}

.search-result-box-profile-image img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.search-result-box-profile-text .user-name {
    font-size: 15px;
    font-weight: 500;
}

.search-result-box-profile-text .user-relation {
    font-size: 12px;
    color: #b5b5b5;
}

.search-result-box-single {
    cursor: pointer;
}

.search-result-box-single:hover {
    background-color: #dedede;
}

.show-more-resuls a {
    color: #afafaf;
    text-decoration: none;
}

.set-privacy-dropdown-value .more-icon {
    font-size: 12px;
}


/* Customization */

/* Responsive */

@media only screen and (max-width: 1200px) {
    .profile-site-navigation-inner {
        width: 100%;
        margin: auto;
    }
    /* .profile-site-navigation-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
}

@media only screen and (max-width: 1000px) {
    .content-side-01 {
        width: 40%;
    }

    .inner-navigation-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-box-cover-image::after {
        bottom: -255px;
    }

    .friend-grid-col {
        flex: 0 0 48%;
    }
}

@media only screen and (max-width: 768px) {
    .profile-site-navigation-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .site-logo {
        order: -1;
        width: 100%;
    }

    .profile-top-bar-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .site-logo-main img {
        display: block;
        margin: auto;
    }

    .content-sides {
        display: flex;
        flex-direction: column;
    }

    .content-side-02 {
        width: 100%;
        order: -1;
    }

    .content-side-01 {
        width: 100%;
        padding-right: 0;
    }

    .profile-box-cover-image .edit-button {
        right: 20px;
    }

    .profile-box-user-info {
        margin-top: -240px;
    }

    .friend-grid-col-profile-image img {
        width: 70px;
        height: 70px;
    }

    .friend-grid-col-profile-image {
        margin-right: 10px;
    }

    .friend-grid-col-profile-text-top {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .inner-navigation-link .text {
        font-size: 11px;
        margin-top: 10px;
    }

    .audio-grid-col {
        flex: 0 0 100%;
    }

    .profile-box-cover-image::after {
        bottom: -215px;
        height: 350px;
    }

}

@media only screen and (max-width: 560px) {
    .profile-box-cover-image .edit-button {
        right: 10px;
        top: 10px;
        font-size: 11px;
    }

    .profile-site-navigation-link .text {
        display: none;
    }

    .profile-box-photo-image img {
        width: 200px;
        height: 200px;
    }

    .profile-box-user-info {
        margin-top: -80px;
    }

    .profile-box-cover-image img {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .share-post-user-image {
        flex: 0 0 40px;
    }

    .share-post-box-attachments {
        flex: 0 0 100%;
    }

    .share-post-box-main-bottom-inner {
        flex-direction: column;
    }

    .profile-navigation-ul .line-devider {
        display: none;
    }

    .profile-navigation-li {
        padding: 0 5px;
        font-size: 12px;
    }

    .profile-wallete-coin-image img {
        width: 35px;
    }

    .profile-user-options-icon img {
        height: 20px;
    }

    .profile-user-options-li.user-pic img {
        width: 40px;
        height: 40px;
    }

    .profile-wallete-top-text {
        font-size: 15px;
    }

    .profile-wallete-balance {
        font-size: 10px;
    }

    .inner-navigation-link .text {
        display: none;
    }

    .friend-grid-col {
        flex: 0 0 100%;
    }

    .profile-box-cover-image {
        height: 280px;
    }

    .profile-box-user-info {
        margin-top: -200px;
    }
}