/* Wallet CSS */

.clasic-shadow {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.wallet-section-grid {
    display: flex;
    justify-content: space-between;
}

.wallet-earning-col {
    flex-grow: 1;
}

.wallet-earning-filter {
    width: 200px;
}

.wallet-earning-top-bar {
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-earning-top-bar-title {
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}

.wallet-earning-stats-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wallet-earning-stats-main-box {
    width: 49%;
    min-height: 200px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.wallet-earning-stats {
    margin: 30px 0;
}

.connect-coins-icon img {
    width: 25px;
}

.wallet-earning-stats-box-title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    /* margin-bottom: 15px; */
    padding: 15px;
}

.wallet-earning-stats-box-value-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wallet-earning-stats-box-value {
    margin-bottom: 15px;
    padding: 0 15px;
}

.wallet-earning-stats-coin img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.wallet-earning-stats-value-top-text {
    font-size: 18px;
    /* font-weight: 500; */
    text-align: center;
}


.wallet-earning-stats-value-text-value {
    /* text-align: center; */
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}

.connect-coins-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connect-coins-coins {
    display: flex;
    align-items: center;
}

.connect-coins-icon {
    margin-right: 15px;
}

.connect-coin-text {
    font-weight: 500;
}

.wallet-earning-filter-text {
    font-size: 20px;
    margin-bottom: 15px;
}

.wallet-earning-filter-single-input {
    margin-bottom: 0px;
}

.wallet-earning-filter-single-input input {
    width: 100%;
    border: 1px solid #dede;
    padding: 5px 10px;
}

.wallet-earning-filter-inputs {
    margin-bottom: 15px;
}

.wallet-earning-filter-single-input label {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.wallet-earning-filter-single-input label input{
    width: 10px;
    margin-right: 15px;
}

.wallet-earning-filter-single-input label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 !important;
}

.wallet-earning-stats-box-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connect-coins {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid #dedede;
}

.wallet-screen-section-inner {
    margin-bottom: 40px;
}

.table thead th {
    border-bottom: 1px solid #dedede !important;
}

.wallet-stats-table-title {
    font-size: 1.2em;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    font-weight: 500;
}

.wallet-stats-table-main {
    margin: 30px 0;
}

.wallet-stats-graph-all-graphs {
    display: flex;
    justify-content: space-between;
}

.wallet-stats-graph-single {
    width: 49%;
}

canvas#ambassador-canvas {
    width: 300px !important;
    height: 300px !important;
}

canvas#merchant-canvas {
    width: 300px !important;
    height: 300px !important;
}

.wallet-stats-graph-inner {
    padding-bottom: 15px;
}

.stats-graph {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.stats-graph-title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
}

.wallet-stats-graph-title {
    font-size: 1.2em;
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    font-weight: 500;
}

.credit {
    font-weight: 500;
}

.debit {
    font-weight: 500;
    color: #28a745;
}

.wallet-stats-graph-single-inner {
    margin: 15px 0;
}

.wallet-stats-graph-list-title {
    background: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 1px solid #dedede;
}

.wallet-stats-graph-list-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-stats-graph-list-li {
    width: 50%;
    text-align: center;
    background: #fff;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
}

.wallet-stats-graph-list-li.active {
    border-bottom: 2px solid #000;
}

.wallet-stats-graph-list-ul {
    border-bottom: 1px solid #dedede;
}

.wallet-stats-graph-list-li:hover {
    background-color: #fafafa;
    border-bottom: 2px solid #fafafa;
}

.wallet-stats-graph-list-li.active:hover {
    background-color: #fafafa;
    border-bottom: 2px solid #000;
}

.wallet-stats-graph-list-title .text {
    font-size: 20px;
}

.custom-padding {
    padding: 15px !important;
}

.wallet-stats-graph-list-boxed-li-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.wallet-stats-graph-list {
    overflow: hidden;
}

.wallet-stats-graph-main {
    margin-top: 40px;
}

.ambassodar-pop-out {
    display: none;
}

.wallet-stats-graph-list-boxed-li {
    border-bottom: 1px solid #dedede;
    cursor: pointer;
}

.wallet-stats-graph-list-boxed-li:hover {
    background-color: #f7f7f7;
}

.wallet-stats-graph-list-boxed-li-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wallet-stats-graph-list-boxed-li-name {
    flex-grow: 1;
    padding-left: 15px;
}

.ambassodar-pop-out-image img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.ambassodar-pop-out {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 2;
    min-width: 200px;
}

.wallet-stats-graph-list-boxed-li-info {
    position: relative;
}

.ambassodar-pop-out-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.ambassodar-pop-out-image {
    margin-right: 15px;
}

.ambassodar-pop-out-image img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.ambassodar-pop-out-detail-row {
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.ambassodar-pop-out-detail-row .heading {
    font-weight: 500;
    margin-right: 5px;
}

.ambassodar-pop-out-name-text {
    font-weight: 500;
}

.ambassodar-pop-out-name {
    font-size: 15px;
}

.wallet-stats-graph-list-boxed-inner {
    height: 284px;
    overflow: hidden;
    overflow-y: auto;
}

.wallet-earning-stats-box-title .block-text {
    display: inline-block;
    font-size: 21px;
    border-top: 2px solid #000;
    margin-top: 15px;
    /* width: 40%; */
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
}

.wallet-earning-top-bar-title-text {
    display: flex;
    align-items: center;
}

.wallet-earning-top-bar-title-text .text {
    margin-right: 15px;
}

.filter-icon {
    font-size: 13px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hover-shadow:hover ,.hover-shadow:focus {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.wallet-earning-filter-inner {
    font-size: 12px;
}

.filter-icon:focus .filter-dropdown {
    display: block;
}

.filter-dropdown {
    position: absolute;
    display: none;
    top: 40px;
    left: 0;
}

.text-badge {
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 50px;
    margin-left: 5px;
    display: inline-block;
}

/* Dashboard */

.wallet-dashboad {
    background: #f0f2f5;
    padding: 15px 0;
}

.dashboard-sides {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dashboard-side-bar {
    flex: 0 0 30%;
    /* margin-right: 20px; */
}

.dashboard-content-main {
    flex-grow: 1;
}

.dahboard-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.dahboard-card-title-bar {
    border-bottom: 1px solid #dedede;
    font-weight: 500;
}

.dahboard-card-title-bar .statics {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.dahboard-card-title-bar.multi {
    display: flex;
    justify-content: space-between;
}

.dahboard-card-title-bar .statics .up, .dahboard-card-title-bar .statics .down {
    display: flex;
    margin-left: 15px;
}

.statics .up .icon {
    color: #28a745;
}

.statics .down .icon {
    color: #dc3545;
}

.number-text {
    font-family: 'Roboto Slab', serif;
}

.gold-text {
    color: #503f1f;
    font-size: 1.5em;
}

.gold-text, .black-text {
    font-size: 1.5em;
}

.dasboard-card-grid {
    display: flex;
    justify-content: space-between;
}

.dasboard-card-col-image {
    background: #000;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}

.dasboard-card-col {
    flex: 0 0 30%;
}

.dasboard-card-col-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.dasboard-card-col-text {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}

.debit-text {
    color: #28a745;
}

a.dashboard-card-link {
    color: #000;
    text-decoration: none;
}

.dahboard-title {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
    font-weight: 500;
}   

.custom-width-50 {
    width: 49%;
}

.custom-flex-01 {
    display: flex;
    justify-content: space-between;
}

.wallet-screen-section {
    background: #f0f2f5;
}

/* Responsive */

@media only screen and (max-width: 990px) {
    .dasboard-card-grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dasboard-card-col-text {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .wallet-earning-stats-main-box {
        width: 100%;
    }
    .wallet-earning-stats-main {
        flex-direction: column;
    }
    .wallet-stats-graph-single {
        width: 100%;
    }

    .wallet-stats-graph-all-graphs {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 560px) {
    .dahboard-card-title-bar.multi {
        flex-direction: column;
    }

    .dahboard-card-title-bar .statics .up, .dahboard-card-title-bar .statics .down {
        margin-left: 0px;
    }

    .dahboard-card-title-bar .statics .up{
        margin-right: 15px;
    }

    .dahboard-card-title-bar .statics {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .wallet-stats-graph-list-li {
        flex-direction: column;
    }
}











